html {
 box-sizing: border-box;
}
​*, *​:before, *:after {
 box-sizing: inherit;
}

body{
	background-color: white;
	border-top: solid 3px black;
	border-bottom: solid 3px black;
	padding: 10px;
	margin-right: 8px;
	margin-left: 8px;
	margin-top: 8px;
}
.primary-nav{
	font-family: "Times New Roman";
	font-style: italic;
}

h1{
	font-family: "Helvetica";
	font-weight: bold;
	text-align: center;
}
img{
	margin-left: 440px;
	margin-right: 50px;
}
h2{
	font-family: "Helvetica";
	font-size: 
}
p{
	font-family: "Times New Roman";
	text-align: center;
}
a{
	text-decoration: underline;
	font-family:"Helvetica";
	}
}

